* {
  font-family: sans-serif;
}
body {
  padding: 20px;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.btn {
  cursor: pointer;
  padding: 12px 24px;
  background-color: black;
  color: white;
  border-radius: 4px;
  transition: opacity .3s ease-in-out;
  border: none;
  outline: 0;
}
.btn:hover {
  opacity: .8;
}

#audio-uploader-wrapper {
  text-align: center;
}
#audio-uploader-wrapper label {
  display: inline-block;
}
#audio-uploader-wrapper input#audio-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -9999px;
  left: -9999px;
}

#master-panel {
  display: none;
}
#audio-controls {
  display: none;
  text-align: center;
}

#play-button {
  background-color: #7f00ff;
}

#waveform {
  margin-top: 20px;
  stroke: #7f00ff;
  width: 100%;
  height: 50vh;
}
#waveform g#waveform-path-group {
  width: 100%;
  height: 50vh;
}